<% provide(:libraries, 'active') %>
<%- model_class = Library -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= search_form_for @q do |f| %>
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<% end %>

<%= link_to 'New', new_library_path, remote: true, class: 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name) %></th>
      <th><%=t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id='libraries'>
    <%= render @libraries %> 
  </tbody>
</table>
<%= will_paginate @libraries, renderer: BootstrapPagination::Rails %>  
