<% provide(:books, 'active') %>
<%- model_class = Book -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= search_form_for @q do |f| %>  
  <%= f.label :title_cont %>  
  <%= f.search_field :title_cont %>  
  <%= f.label :author_cont %>  
  <%= f.search_field :author_cont %> 
  <%= f.label :section_cont %>  
  <%= f.search_field :section_cont %> 
  <%= f.label :library_name_cont %>  
  <%= f.search_field :library_name_cont %> 
  <%= f.submit %>  
<% end %>  
<%= link_to 'New', new_book_path, remote: true, class: 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :title) %></th>
      <th><%= sort_link(@q, :author) %></th>
      <th><%= sort_link(@q, :section) %></th>
      <th><%= sort_link(@q, :library) %></th>
      <th><%=t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id='books'>
    <%= render @books %>  
  </tbody>
</table>

<%= will_paginate @books, renderer: BootstrapPagination::Rails %> 

<%= render 'layouts/dialog' %>